@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    background-image: url("./images/bankoPlade.jpg");
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.app {
    min-height: 100dvh;
    background-color: rgba(49, 151, 149, 0.9);
}

.bingo-plate {
    border: 2px solid black;
    background-color: #fff;
    width: 100%;
}

.bingo-num {
    height: 85px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.bingo-plate.mini {
    border: 2px solid black;
}

.bingo-plate.mini .bingo-num {
    height: 25px;
    font-size: 12px;
}

.bingo-num.picked {
    color: green;
    font-weight: bold;
    background: #dbf7f7;
}

.picked-numbers {
    display: flex;
    gap: 10px;
}

.loading::after {
    display: inline-block;
    animation: dotty steps(1, end) 1.2s infinite;
    content: "";
}

@keyframes dotty {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

@media (max-width: 700px) {
    .bingo-plate {
        border: 1px solid black;
    }

    .bingo-num {
        height: 35px;
        font-size: 20px;
    }

    .bingo-plate.mini .bingo-num {
        height: 25px;
        font-size: 15px;
    }
}
